.customTable .ant-table-body {
    scrollbar-width: thin;
    scrollbar-color: #eaeaea transparent;
}

.customTable .ant-table-body::-webkit-scrollbar {
    width: 6px;
}

.customTable .ant-table-body::-webkit-scrollbar-track {
    background: transparent;
}

.customTable .ant-table-body::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    border-radius: 3px;
}



.row-payment td {
    background-color: #d1fad1 !important;
}


.row-confirm td {
    background-color: #e6f7ff !important;
}


.row-waiting td {
    background-color: #fce6b6 !important;
}


.row-reject td {
    background-color: #f8b7bd !important;
}

.row-new td {
    background-color: #d8f3ff !important;
}